@import "components/abstracts";
@import "components/fonts";
@import "pages/popup";

:root {
  --circles: rgb(255, 221, 177);
  // --background: #ffdaf1;
}

html,
body {
  position: relative;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // transition: background 1s ease;
  width: 100vw;
  scroll-behavior: smooth;
}

.gnb {
  width: 100vw;
  height: 7rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba($color: $color--white, $alpha: 0.4);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 10px;
  // filter: blur(4px);
  z-index: 1;
  position: fixed;

  &__logo {
    width: 30%;
    a {
      font-size: 2.6rem;
      color: $color--pink;
    }
  }
  &__list {
    width: 40%;
    display: flex;
    justify-content: space-around;

    li {
      font-size: 2rem;
    }
  }
}

.wrapper {
  width: 100vw;
  position: relative;

  .deco_line {
    position: absolute;
    bottom: 18%;
    z-index: -1;
    width: 206rem;
  }

  .main {
    position: relative;

    .flex {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    .scene {
      // background: var(--background);
      // background: linear-gradient(217deg, rgb(175, 255, 234), rgb(223, 255, 128) 70.71%),
      //   linear-gradient(127deg, $color--pink, rgba(227, 128, 255, 0.958) 70.71%),
      //   linear-gradient(336deg, $color--blue, rgb(255, 166, 236) 70.71%);

      background: linear-gradient(217deg, rgb(175, 247, 255), rgb(223, 255, 128) 70.71%),
        linear-gradient(127deg, $color--pink, rgba(227, 128, 255, 0.958) 70.71%),
        linear-gradient(336deg, $color--blue, rgb(255, 166, 236) 70.71%);

      height: 98vh;
      filter: blur(20px);
      z-index: -1;
      position: relative;

      &__animation {
        height: 100%;
        width: 100%;
      }
    }

    &__pallex {
      height: 98vh;

      overflow-x: hidden;
      overflow-y: auto;

      perspective: 1px;

      margin-top: -80rem;

      // z-index: 1;

      .pallex {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        //moon
        &__layer1 {
          transform: translateZ(0);
          width: 104rem;
          left: 40%;
        }

        //town
        &__layer2 {
          transform: translateZ(-0.5px);
          width: 180rem;
          top: 10%;
          left: 80%;
        }

        &__layer5 {
          transform: translateZ(-1px);
          width: 180rem;
          top: 10%;
          left: -60%;
        }

        //ground
        &__layer3 {
          transform: translateZ(-2px);
          width: 600rem;
          top: 100%;
          left: -110%;
        }

        //flower
        &__layer4 {
          transform: translateZ(-3px);
          width: 600rem;
          top: 60%;
          left: -120%;
        }
      }
    }

    &__txt {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 24%;

      text-align: center;
      // color: $color--darkgray;

      h1 span {
        font-size: inherit;
        color: $color--blue;
      }

      p {
        line-height: 1.8;
        font-size: 1.8rem;
      }
    }
  }
}

.profile {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 80rem;
  color: $color--blue;

  &__skills {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // align-items: center;
    margin-left: 12rem;
    height: 90em;
    // background-color: thistle;

    h4 {
      margin-bottom: 0rem;
      color: $color--darkgray;
    }

    .skills__uiux,
    .skills__des,
    .skills__dev {
      display: flex;
      padding: 0;
    }
    .skills {
      &__box {
        width: 7rem;
        height: 7rem;
        border-radius: 1.6rem;
        background-color: $color--gray2;
        margin-right: 0.8rem;
        @include bgimg;
      }

      .skills__uiux {
        &--fig {
          background-image: url(../img/ic_figma.svg);
        }
        &--xd {
          background-image: url(../img/ic_xd.svg);
        }
      }
      .skills__des {
        &--ps {
          background-image: url(../img/ic_ps.svg);
        }
        &--ai {
          background-image: url(../img/ic_ai.svg);
        }
        &--id {
          background-image: url(../img/ic_id.svg);
        }
        &--pr {
          background-image: url(../img/ic_pr.svg);
        }
        &--ru {
          background-image: url(../img/ic_ru.svg);
        }
      }
      .skills__dev {
        &--html {
          background-image: url(../img/ic_html.svg);
        }
        &--css {
          background-image: url(../img/ic_css.svg);
        }
        &--js {
          background-image: url(../img/ic_js.svg);
        }
        &--gh {
          background-image: url(../img/ic_github.svg);
        }
        &--slack {
          background-image: url(../img/ic_slack.svg);
        }
        &--scss {
          background-image: url(../img/ic_sass.svg);
        }
      }
    }
  }
  &__visual {
    width: 54rem;
    height: 73.6rem;
    position: relative;
    margin-right: 12rem;

    img {
      width: 54rem;
      height: 73.6rem;
    }

    .deco--ring {
      width: 80rem;
      position: absolute;
      top: 20%;
      left: -20%;
      z-index: -1;
    }
    .deco--green {
      position: absolute;
      top: 10%;
      left: -20%;
      opacity: 50%;
      z-index: -1;
      width: 22rem;
      height: 22rem;
    }
    .deco--pink {
      position: absolute;
      top: 84%;
      left: 94%;
      width: 9.8rem;
      height: 9.8rem;
    }
  }
}

.tag {
  display: flex;
  padding: 0;

  &__list {
    margin-right: 8px;
    @include tag;
    color: $color--pink;
  }
}

//멍냥마켓
.market {
  @include work;

  &__visual {
    @include work--visual;
    overflow: hidden;

    // background-image: url(/img/pro_market.jpg);

    .zoomin {
      @include zoom;
      background-image: url(../img/pro_market.jpg);
    }

    &:hover .zoomin,
    &:focus .zoomin {
      transform: scale(1.2);
    }
  }

  &__txt {
    @include work--txt;
  }
}

//학식 앱 리뉴얼..일러로 바꿀까 고민되긴 함
.illust {
  @include work;

  &__visual {
    @include work--visual;
    overflow: hidden;

    border-radius: 300px 0px 0px 300px;

    .zoomin {
      @include zoom;
      background-image: url(../img/pro_sunmock.jpg);
    }

    &:hover .zoomin,
    &:focus .zoomin {
      transform: scale(1.2);
    }
  }

  &__txt {
    @include work--txt;
    margin-left: 30rem;
  }
}

//모션그래픽 광고영상
.motion {
  @include work;

  &__visual {
    @include work--visual;
    overflow: hidden;

    .zoomin {
      @include zoom;
      background-image: url(../img/pro-motion.jpg);
    }

    &:hover .zoomin,
    &:focus .zoomin {
      transform: scale(1.2);
    }
  }

  &__txt {
    @include work--txt;
  }
}

//기타 작업물

.artworks {
  width: 100vw;
  height: 96vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  position: relative;

  &__box {
    width: 32rem;
    height: 32rem;
    background-color: $color--gray2;
    @include bgimg;
    border-radius: 40px;
    margin-left: 20px;
  }

  &__top {
    width: 200rem;
    height: 32rem;
    position: relative;
    left: 14%;

    animation: rolling-right 100s linear infinite;
    will-change: transform;
    // position: relative;
    white-space: nowrap;

    ul {
      display: flex;
    }

    li {
      @include artbox;
    }

    &--luka {
      background-image: url(../img/pro_luka.jpg);
    }
    &--jeju {
      background-image: url(../img/pro_jeju.jpg);
    }
    &--tiger {
      background-image: url(../img/pro_tiger.jpg);
    }
    &--sun {
      background-image: url(../img/pro_sun.jpg);
    }
    &--summer {
      background-image: url(../img/pro_summer.jpg);
    }
  }

  &__bottom {
    width: 200rem;
    height: 32rem;

    animation: rolling-left 100s linear infinite;
    will-change: transform;
    // position: relative;
    white-space: nowrap;

    ul {
      display: flex;
    }

    &--event {
      background-image: url(../img/pro_event.jpg);
    }
    &--castellevent {
      background-image: url(../img/pro_castellevent.jpg);
    }
    &--castellins {
      background-image: url(../img/pro_castellins.jpg);
    }
    &--andrew {
      background-image: url(../img/pro_andrew.jpg);
    }
  }
  .bg_line {
    width: 100vw;
    height: 96rem;
    position: absolute;
    top: -24%;
    left: 0;
    z-index: -1;
  }
}

//footer

.footer {
  width: 100vw;
  height: 54rem;
  background: url(../img/bg_gra3.svg);
  color: $color--white;
  display: flex;
  // justify-content: space-around;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    @include bgimg;
    background-size: contain;
    background-image: url(../img/contactme.svg);
    margin-top: -32rem;

    // position: absolute;
    animation: text-scrolling 14s linear infinite;
    will-change: transform;
    // position: relative;
    white-space: nowrap;
  }

  &__contact {
    position: absolute;
    top: 30%;
    left: 12%;

    li {
      font-size: 2.2rem;
      line-height: 1.8;
    }
  }
}
