
.pop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.8);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  .modal {
    width: 100%;
    height: 90vh;
    // margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  a {
    text-decoration: none;
    color: $color--gray1;
  }

  &:target {
    opacity: 1;
    visibility: visible;
  }
  &__content {
    // @include absCenter;
    width: 120rem;
    height: 90vh;

    margin: 5vh auto;

    background-color: $color--white;
    box-shadow: 0 2rem 4rem rgba($color: #000000, $alpha: 0.2);
    border-radius: 3px;
  }
  &__img {
    display: block;
    height: 90vh;
  }
  &__close {
    // display: inline-block;
    border-radius: 50%;
    color: $color--gray1;
    z-index: 1000;
    font-size: 5rem;
    font-weight: 300;
    position: fixed;
    top: 10px;
    right: 10px;
    padding-right: 1.2rem;
    margin-top: -1rem;

    &:hover {
      color: $color--pink;
    }
  }
}
