
html,
body {
  font-size: 62.5%;
}

h1 {
  font-size: 9rem;
  line-height: 0.4;

  text-transform: uppercase;
}
h2 {
  font-size: 4.8rem;
}
h3 {
  font-size: 2.8rem;
}
h4 {
  font-size: 3.2rem;
}

p {
  font-size: 1.6rem;
}
span {
  font-size: 3.2rem;
  color: $color--darkgray;
}

li {
  font-size: 1.6rem;
  list-style: none;
}
a {
  text-decoration: none;
  color: $color--black;

  &:hover {
    cursor: pointer;
    color: $color--pink;
  }
}

@media (max-width: 1240px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 780px) {
  html {
    font-size: 7px;
  }
}

@media (max-width: 680px) {
  html {
    font-size: 5px;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 4px;
  }
}
